@import "tailwindcss";

@theme {
  --color-navy-base: #122637;
  --color-gold-rich: #d4af37;
  --color-text-main: #f8fafc;
}

/* This forces the whole site to be navy */
html,
body {
  background-color: var(--color-navy-base);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
}
