@import "tailwindcss";

@theme {
  --color-charcoal-base: #132537;
  --color-charcoal-surface: #2A2A2A;

  --color-copper-rich: #ffffff;
  --color-copper-dark: #A05A2C;
  --color-copper-light: #C98A4A;

  --color-text-main: #F5F5F5;
  --color-text-muted: #B0B0B0;
}

html,
body {
  background-color: var(--color-charcoal-base);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
}